.stream-container {
    width:60%;
    position: relative;
}


#stream-player {
    width: 100%;
    transition: 150ms;
}

.stream-container:hover #stream-player { 
    filter: grayscale(0.4);
}


.stream-Controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: 200ms;
}

.stream-container:hover .stream-Controls { 
    opacity: 1;
}


.stream-controls-left {
    float: left;
    display:flex;
}

.stream-controls-btn {
    height: 25px;
    width: 25px;
    opacity: 0.75;
    transition: 200ms;
    fill:white;
    margin: 10px 10px;
}

.stream-controls-btn:hover {
    opacity: 1;
}

.stream-volume-controls {
    opacity: 0.75;
    display: flex;
    align-items: center;
}

.stream-volume-controls:hover {
    opacity: 1;
}


.stream-mute-btn {
    height: 25px;
    width: 25px;
    opacity: 0.75;
    transition: 200ms;
    fill:white;
    margin: 10px 10px;
}

.stream-mute-btn:hover {
    opacity: 1;
}

.stream-volume-slider {
    
    transform-origin: left;
    transform: scaleX(0);
    width:0px;
    transition: 150ms ease-out;
}

.stream-volume-controls:hover .stream-volume-slider,
.stream-volume-controls:focus-within .stream-volume-slider {
    width:100px;
    transform: scaleX(1);
}