.stream-container {
    width:60%;
    position: relative;
}

.stream-container.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0px;
}


#stream-player {
    width: 100%;
    transition: 150ms;
}

.stream-container:hover #stream-player { 
    filter: grayscale(0.4);
}


.stream-Controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: 200ms;
}

.stream-container:hover .stream-Controls { 
    opacity: 1;
}


.stream-controls-left {
    float: left;
    display:flex;
    margin-left: 10px
}

.stream-controls-right {
    float: right;
    display:flex;
    margin-right: 10px;
}

.stream-controls-btn {
    height: 15px;
    width: 15px;
    opacity: 0.85;
    transition: 200ms;
    fill:white;
    margin: 10px 10px;
    cursor: pointer;
}

.stream-controls-btn:hover {
    opacity: 1;
}

.stream-volume-controls {
    opacity: 0.85;
    display: flex;
    align-items: center;
}

.stream-volume-controls:hover {
    opacity: 1;
}


.stream-mute-btn {
    height: 22px;
    width: 22px;
    transition: 200ms;
    fill:white;
    margin: 10px 10px;
    cursor: pointer;
}

.stream-mute-btn:hover {
    opacity: 1;
}

.stream-volume-slider {
    
    transform-origin: left;
    transform: scaleX(0);
    width:0px;
    transition: 150ms ease-out;
    cursor: pointer;
}

.stream-volume-controls:hover .stream-volume-slider,
.stream-volume-controls:focus-within .stream-volume-slider {
    width:100px;
    transform: scaleX(1);
}

.stream-fullscreen-btn {
    height: 17px;
    width: 17px;
    transition: 200ms;
    fill:white;
    margin: 10px 10px;
    align-self: right;
    opacity: 0.85;
    cursor: pointer;
}

.stream-fullscreen-btn:hover {
    opacity: 1;
}